---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Services | AfriqSilicon">
    <section class="px-5 md:px-16 my-12 grid grid-cols-1 lg:grid-cols-2 gap-4">
          <div class="flex flex-col pr-10">
              <h6 class="border-b-2 text-slate-300 border-primary-500 text-lg w-fit">Contact Us</h6>
              <h2 class="text-3xl lg:text-5xl text-slate-300 mt-2">Get In Touch</h2>
              <p class="text-slate-300 text-lg lg:text-2xl mt-2">
                  Reach out to Eunice Maina a front-end  for inquiries, collaborations, or to learn more about my services. am here to assist you!
              </p>
              <div class="mt-8 flex flex-row space-x-4">
                  <span class="p-2 text-neutral-400 hover:text-neutral-500 bg-neutral-50 rounded-full transition-all duration-300 grid place-items-center shrink-0 grow-0 h-12 w-12">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><g fill="currentColor"><path d="M176 72a48 48 0 1 1-48-48a48 48 0 0 1 48 48" opacity=".2"/><path d="M184 72a56 56 0 1 0-64 55.42V232a8 8 0 0 0 16 0V127.42A56.09 56.09 0 0 0 184 72m-56 40a40 40 0 1 1 40-40a40 40 0 0 1-40 40"/></g></svg>
                  </span>
                  <address class="text-lg text-slate-300">
                    
                    Nairobi, KE 13419 -00400
                    <a class="text-slate-300" href="mailto:info@afriqsilicon.com">eunicemaina237@gmail.com</a><br>
                    <a class="text-slate-300" href="tel:+15551234567">+254 7 41 873 618</a>
                </address>

              </div>
          </div>
        
    </section>
</Layout>
