---

import AButton from './AButton.vue'

// import MobileNav from './MobileNav.vue'

type link = {name:string, path: string}
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname; // remove the first "/"
const links: link[] = [
    {name:'Blog', path:'/'},
    
]
interface Props {
  scrollEffect: boolean;
  greeting?: string;
}

const {scrollEffect = true} = Astro.props;
---
<div class="bg-dark-900   mt-4 ">
    <div id="navbar-placeholder"></div> 
    <nav id="navbar" class="px-5 md:px-16 flex justify-center space-x-12 items-center relative z-20 py-4 transition-all duration-500" class:list={[
            scrollEffect ? '' : 'bg-white'
        ]}>
       

        <div class="hidden md:flex md:flex-row items-center text-sm font-medium space-x-5 text-white">
            {
                links.map((link) => {
                    return (
                        <a class="border-b-2 hover:text-brand-green text-white  hover:border-brand-green transition-all duration-500  text-4xl font-bold hover:border-primary-500"
                           class:list={
                               [currentPath === link.path ? 'border-primary-500' : 'border-transparent']
                           }
                           href={link.path}>
                            {`${link.name}`}
                        </a>
                    )
                })
            }
        </div>
        
        <div class="hidden md:flex flex-row space-x-4 items-center">
             
            <a href="/contact-us">
                <AButton client:only="vue" type="primary">Contact Us</AButton>
            </a>
          </div>
    </nav>
</div>
<style>

#navbar.stick {
  position: fixed;
  top: 0;
  width: 100%;
  /* Additional styles for the sticky navbar */
}
/*#navbar-placeholder {*/
/*  display: none;*/
/*}*/

</style>




